.OfferingBox{
    width: 90%;
    /* border: 1px solid red; */
    display: flex;
    margin: 0 auto;
    padding: 1em;
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.1);
    justify-content: space-between;

}
.Offering{
    /* border: 1px solid red ; */
    display: flex;
    flex-direction: column;
    gap:2.5em;

}
.offer{
    width: calc(90%/3);
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1em
}
.offerImg{
    width: 6em;
    height: 6em;
}
.offerTitle{
    font-size: 1.5em;
    font-weight: bold;
}
.offerText{
    color:var(--gray-blue);
    font-size: 1.3em;
    line-height: 2;
    text-align: center;
    height: 40%;
    /* border: 1px solid red; */
}
@media screen and (max-width:900px) {
   
    .offerText{
        font-size: 1rem;
        line-height: 20px;
    }
    .offerTitle{
        font-size:1.2rem ;
        text-align: center;
    }
    .offerImg{
        width: 4.5rem;
        height: 4.rem;
    }
 }

 @media screen and (max-width:727px) {
   
    .OfferingBox{
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    .offerText{
        font-size: 0.9rem;
        line-height: 15px;
    }
    .offerTitle{
        font-size:1rem ;
        text-align: center;
    }
    .offerImg{
        width: 4.5rem;
        height: 4.5rem;
    }
    .offer{
        width: 100%;
    }
 }
