.aboutSectionHolder{
    width: 100%;
    display: flex;

}
.aboutSection , .imgSection{
    width: 50%;
    height: 26em;
    display: flex;
    flex-direction: column;
    gap:35px;

}
.imgSection{
    align-items: end;
    /* border: 1px solid red; */
    justify-content: end;

}
.btnHolder{
    width: 20%;
    height: 2.5em;
}
.aboutText{
    font-size: 1.6em;
    line-height: 1.7;
}

.imgAbout{
    /* border: 1px solid red; */
    height: 100%;
    width: 80%;
    /* margin: 0 auto; */
    object-fit: cover;
    border-radius: var(--border-radius);
    /* border: 2px solid red ; */
}