.gallery {
    /* padding: 0 12px; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 4em; */
    /* gap: 2em; */
    /* border: 2px solid black; */
}
/* .img1 , .img3 {
    margin-top: 3em;
    overflow: hidden;
    object-fit: contain;
} */

.pics {
    --webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
    height: auto;
    width: 100%;
    height: 100%;

}

.pics>img{
    object-fit: cover;
}
.pics:hover {
    filter: opacity(0.8);
}

.model,
.modelClose {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 10;
    transition: opacity 0.4s ease, visibility .4s ease, transform .5s ease-in-out;
}

.modelOpen {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.closeModel {
    position: fixed;
    top: 3%;
    right: 3%;
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.showIMg {
    width: auto;
    max-width: 100%;
    height:auto;
    display: block;
    padding: 20px;
    margin: 0 auto;
}

@media (max-width:991px) {
    .gallery {
        --webkit-column-count: 2;
        --moz-column-count: 2;
        column-count: 2;

    }
}

@media (max-width:480px) {
    .gallery {
        --webkit-column-count: 1;
        --moz-column-count: 1;
        column-count: 1;
        --webkit-column-width: 100%;
        --moz-column-width: 100%;
        column-width: 100%;

    }
}

.story {
    flex-direction: row;
   
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.story,
.flexPage {
    display: flex;
    width: 100%;
    margin: auto;
    height: 80vh;
    margin: 2rem 0;
    color: black;
    animation: fadeIn 0.5s ease-in-out;
    gap:1em;
    position: relative;
    /* background-color:darkblue; */

}

.flexPage {
    flex-direction: row-reverse;

}

.storySection {
    height: 100%;
    /* border: 10px solid rgb(253, 5, 5) ; */
}

.storyImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: 1px solid black ; */

}

.textSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    padding: 2em;

}

.storyTitle {
    font-size: 4em;

    text-wrap: wrap;
}

.title {

    display: flex;
    flex-direction: column;
    gap: 0.9em
}

.date {
    font-size: 2.3em;
    font-style: italic;
    opacity: 0.9;
}

.storyLine {
    width: 45%;
    height: 6px;
    background-color: var(--text-color-grey);
    border-radius: var(--border-radius);
}

.storyDescription {
    font-size: 1.4em;
    line-height: 2;
    height: 35%;
    overflow: hidden;
    text-overflow: ellipsis;

}

.storyTestimonial {
    border: 1px solid black;
    width: 55%;
    border-radius: var(--border-radius);
    height: 30%;
    align-self: center;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    font-size: 1.3em;
    /* background-color: aqua; */
}

@media (max-width:1001px) {
   .story{
    flex-direction: column;
    height: fit-content;
   }
   .textSection{
    width: 100%;
   }
   .storySection{
    width: 94%;
   }
   .storyTestimonial{
    /* margin-bottom: 1rem; */
   }
   .storyDescription{
    line-height: 32px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
   }
   
}
@media (max-width:601px) {
    .story{
     flex-direction: column;
     height: fit-content;
    }
    .textSection{
     width: 100%;
    }
    .storySection{
     width: 94%;
    }
    .storyTitle{
        font-size: 40px;
    }
    .storyTestimonial{
     /* margin-bottom: 1rem; */
     width: 90%;
    }
    .storyDescription{
     line-height: 27px;
     margin-top: 0.5rem;
     margin-bottom: 1rem;
     line-height: 24px;
    }
    .pics{
        width: 100%;
    }
    .storySection{
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
    }
    
 }
/* .storyTestimonial::before {
    position: absolute;
    content: "";
    border: 1px solid black;
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
    top: 5%;
    left: 5%;
    z-index: 1;
    background-color: white;
} */

.testimonialsText{
    color:black;
    height: 90%;
    /* border: 1px solid red; */
}

/***********************************************/
/* .story{
   flex-direction: row;

}
.story , .flexPage{
    display: flex;

    width: 100vw;
    height: 100%;
    color: white;
}
.flexPage{
    flex-direction: row-reverse;
}
.storySection{
    height: 100%;
}
.storyImage{
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.imgeSection{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.textSection{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:2%;
    padding: 7em 3em 3em 3em;

}

.storyTitle{
    font-size: 4.5em;
    
    text-wrap: wrap;
}
.title{
    
    display: flex;
    flex-direction: column;
    gap:0.9em
}
.date{
font-size: 2.3em;
font-style: italic;
opacity: 0.9;
}
.storyLine{
    width: 45%;
    height: 6px;
    background-color: var(--text-color-grey);
    border-radius: var(--border-radius);
}
.storyDescription{
    font-size: 1.4em;
    line-height: 2;
    height: 35%;
    overflow: hidden;
    text-overflow: ellipsis;

}
.storyTestimonial{
    border: 1px solid white;
    width: 55%;
    border-radius: var(--border-radius);
    height: 30%;
    align-self: center;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:6% ;
    font-size: 1.3em;

}
.storyTestimonial::after{
    position: absolute;
    content: "";
    border: 1px solid white;
    border-radius: var(--border-radius);
    width: 100%; 
    height: 100%; 
    top: 5%;
    left: 5%;
    z-index: -1;
} */
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */

