.jounertComp{
    display: flex;
    flex-direction: column;
    gap:2.5em
}
.jouneyContainer{
    display: grid;
    grid-template-areas: 
    'a a d'
    'b c d';
    width: 100%;
    /* border: 2px solid green; */
    height: 43em;
    gap:1.2em;
}
.jouneyContainer>section{
    border-radius: var(--border-radius);
    position: relative;
}

.journeyA{
    grid-area: a;
    /* border: 2px solid green; */

}

.journeyB{
    grid-area: b;
    /* border: 2px solid green; */

}
.journeyC{
    grid-area: c;
    /* border: 2px solid green; */

}
.journeyD{
    grid-area: d;
    /* border: 2px solid green; */

}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: var(--border-radius);
    z-index: 1;
}
.opacity{
    /* border: 2px solid black; */

    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    position: absolute;
    border-radius: var(--border-radius);
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
}
.journeyTitle{
    position:absolute;
    color: white;
    bottom: 8%;
    left: 3%;
    z-index: 3;
    font-size: 2rem;
}
.arrow{
    position:absolute;
    /* color: white; */
    width: 1.3em;
    height: 1.3em;
    bottom: 8%;
    right: 3%;
    z-index: 3;
    font-size: 2rem;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.arrow:hover{
    background-color: var(--dark-green);
    /* border: 1px solid var(--dark-green); */
    border: none;
    /* transition: 0.2s; */
    transform: scale(1.09);
}
@media (max-width:760px){
    
    .jouneyContainer{
        grid-template-areas: 
        'a '
        'b'
        'c'
        'd';
    }
    .jouneyContainer>section{
        height: 15rem;
    }
    .journeyTitle{
        font-size: 24px;
    }
    .arrow{
        bottom: 5%;
    }
    .jouneyContainer{
        height: fit-content;
    }
    
    
}