.restaurantsHolder{
width: 100%;
color: var(--text-color-dark-grey);
display: flex;
flex-direction: column;
gap:1em
}
.sectionTitle{
display: flex;
align-items: center;
gap:1.5em;

}

.sectionTitle>h1{
font-size: 1.7em;
}
.sectionTitle>img{
height: 3.5em;  
/* border: 1px solid black; */
}
.restaurants{
    /* border: 1px solid palevioletred; */
    display: flex;
    flex-direction: column;
    gap:1em;

}
.restaurant{
    width: 100%;
    display: flex;
    /* gap:2em; */
    /* border: 1px solid black; */
height: 10em;
align-items: flex-start;
gap: 1em;
justify-content: space-between;

}
.image{
    width: 30%;
    /* border: 1px solid black; */
    height: 100%;
    border-radius: var(--border-radius);

}
.image>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    /* border: 2px solid red   ; */

}
.description{
    width: 70%;
    /* border: 2px solid red   ; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap:1em
}
.description>h1{
    font-size: 1.4em;
}
.description>p{
    font-size: 1.1em;
}
@media (max-width:640px){
    .sectionTitle>h1{
        font-size: 1.6em;
        }

        .description>h1{
            font-size: 1.3em;
        }
        .description>p{
            font-size: 1em;
        }
        
}

@media (max-width:460px){
    .restaurant{
        width: 100%;
        display: flex;
        /* gap:2em; */
        flex-direction: column;
        /* border: 1px solid black; */
    height: auto;

    }
    
.restaurant>section{
    /* border: 1px solid red; */
    width: 100%;

}
.image{
    height: 13em;

}

}








