.HeroContainer {
    height: 100vh;
    position: relative;
    margin-bottom:4em ;
    background-image: url(/src/assets/images/hikeman.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: contain; */
    overflow: hidden;
}

.heroBackground {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}


.blur {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2)
}

.HeroText {
    /* border: 1px solid white; */
    position: absolute;
    z-index: 5;
    color: var(--white-color);
    top: 48%;
    left: 30%;
    transform: translate(-50%, -50%);
    /* border: 1px solid red; */
}

.cloudHolders{
    /* border: 2px solid black; */
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: -2rem;
    height: 40rem;
    /* width: auto; */
    z-index: 2;
    overflow-x: hidden;
    opacity: 0.8;
    display: flex;


}

.clouds {
    position: absolute;
    bottom: -2rem;
    height: 40rem;
    width: auto;
    z-index: 2;
    overflow-x: hidden;
    opacity: 0.6; 
        /* left: 10rem; */

    /* /* border: 2px solid red; */
    /* object-fit: cover; */
    width: 100%;

}



 
/* .clouds{
    position: absolute;
    bottom: -22rem;
    left:10rem;
    height: 40rem;
    width: 100vw;
    animation: animate 190s linear infinite;
} */

@keyframes animate {
    0%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(100%);
    }
    
} 
.guideText {
    font-size: 1.8em;
    font-style: italic;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 15px
}

.lineSpan {
    border: 1px solid white;
    width: 1.2em;
    height: 0;
    display: inline-block;
}

.heading1 {
    font-size: 5em;
    font-weight: 350;
}

.transparentText {
    font-size: 5em;
    color: white;
    display: inline-block;
    /* color: black; */
font-weight: 550;

}

/* .transparentText{
    font-size: 4.5em;
    font-size: 24px; 
    color: transparent; 
    -webkit-text-stroke: 2px white; 
    display: inline-block;
}

.transparentTextContainer {
    display: inline-block;
    padding: 20px; 
  }
   */
   @media screen and (max-width:1390px) {
        .HeroText{
            margin-left:9% ;
            /* width:30rem ; */
        }
   }
   @media screen and (max-width:1095px) {
    .heading1{
        font-size: 65px;
    }
    .transparentText{
        font-size: 65px;
    }
}

@media screen and (max-width:890px) {
    .heading1{
        font-size: 45px;
    }
    .transparentText{
        font-size: 45px;
    }
    .HeroText{
        left: 13rem;
    }
}
@media screen and (max-width:642px) {
    .heading1{
        font-size: 38px;
    }
    .transparentText{
        font-size: 38px;
    }
    .HeroText{
        left: 11rem;
    }
}
@media screen and (max-width:535px) {
   
    .HeroText{
        left: 30%;
    }
}
@media screen and (max-width:400px) {
   
   .HeroContainer{
    /* width: 18rem; */
    background-position: 75% center;
    
   }
}