.benefitsHolder {
    /* border :2px solid green; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 3em;
    height: 30em;
}

.benefits {
    display: flex;
    justify-content: space-between;
    height: 85%;
    /* border: 2px solid red; */

}

.benefit {
    /* border: 2px solid red; */
    width: 31%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}



.benefit>h3 {
    font-size: 1.8em;
    height: 15%;
}

.benefit>p {
    /* border: 1px solid rebeccapurple; */
    text-align: center;
    font-size: 1.4em;
    line-height: 2;
    height: 35%;

}
.icons{
  height: 50%;
  /* border: 1px solid red; */

}
.icons>img {
    /* width: 10em; */
    height: 10rem;
    height: 10rem;
    object-fit: contain;
}
@media (max-width:760px){
    
    .benefit{
        font-size: 12px;
        width: 100%;
        margin-bottom: 0.6rem;
    }
    .benefit>p{
        height: fit-content;
        line-height: 23px;
    }
    .benefits{
        flex-direction: column;
        height: fit-content;
    }
    
    .benefitsHolder{
        height: fit-content;
    }
    
}